<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>HOME Happy Cook </h1>
    <form action="/recipes" method="GET">
        <div>
            <label for="ingredients">Enter Ingredients</label>
            <input type="text" id="ingredients" name="ingredients">
            <button>Search Recipe</button>
        </div>
    </form>

</body>

</html>