<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nokora:wght@700&family=Nothing+You+Could+Do&family=Oxygen:wght@700&display=swap" rel="stylesheet">


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

 
  <link rel="stylesheet" href="/happyCook.css">
  <title>HappyCook</title>

  <link href="images/iconHappyPot.jpg" rel="icon">
</head>

<body class="Index">



  <!-- <img src="images/background.png" class="card-img img-fluid background" alt="background" class="img-responsive"> -->
  <div class="card-img-overlay">

    <nav class="navbar navbar-expand-lg navbar-light  happy-cook-nav">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"></a>

        <button class="navbar-toggler navbar-right " type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon   "></span>
        </button>
        <div class="collapse navbar-collapse navbar-right " id="navbarNavDropdown">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

            <li class="nav-item">
              <a class="nav-link active" id="dropDown" aria-current="page" href="/">Home</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" id="dropDown" href="inspiration">Inspiration</a>
             </li>

             <li class="nav-item">
              <a class="nav-link" id="dropDown" href="gitHub">GitHub</a>
             </li>
                   
            <li class="nav-item">
              <a class="nav-link " id="dropDown" href="aboutUs">About Us</a>
            </li>

            <li class="nav-item">
              <button class="navbar-toggler cancel rounded-pill" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNavDropdown"> Close</button>
            </li>

          </ul>
        </div>
      </div>
    </nav>

    <a href="/"><img src="images/iconHappyPot.svg" alt="HappyPot" class="logo happyPot"></a>

    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-sm-1">

          <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            Cookies
          </button>
          
          <!-- Modal -->
          <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modalFirst">
                
                  <h1 ><center>Cookies</center></h1>
                  <h6><center>Updated 02. February 2022</center></h6>
                  
                
                
                  <h2>About cookies on this website</h2>
                   <h5>Cookies are text files placed on your computer to collect standard internet log information and visitor behavior information. 
                  When you visit Happycook website, we may collect information from you automatically through cookies or similar technology. 
                  These enables us to recognize your previously selected preferences, which includes, language, location, nutrition types, e.t.c. 
                  For more information visit our <button  data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Privacy Policy</button>.
                  </h5>
                </div>
                <div class="cookiesButtons">
                  <button  type="button" class="allowAllCookies" data-bs-dismiss="modal" aria-label="Close"  > 
                      <h6> Deny all</h6>
                    </button>
            
                  <button  type="button" class="denyAll"   data-bs-dismiss="modal" aria-label="Close"  >
                    <h6> Allow all cookies</h6>
            
                  </button>
                  
              </div>
                
              </div>
            </div>
          </div>
          <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
            <div class="modal-dialog modal-xl modal-dialog ">
              <div class="modal-content modalSecond">
               <br>
                <h1>Privacy Policy</h1>
                <h6>Updated 02. February 2022</h6>
                  
                  <h5>General notes and compulsory information</h5>
                  <h6>This privacy Policy is based on the General Data Protextion Regulation("GDPR") which has been in effect since 25. May 2018 and applies to the use of our web site.</h6>
                
                <h5>Data Protection</h5>
                <h6>The operators of these pages take the protection of your personal data very seriously. We do not store any personal data as declared in this data protection declaration.</h6>
                  <h6>When you use this website, no personal data is collected. Personal data are data with which you can be personally identified.</h6>
                  <h6>We would like to point out that data transmission over the Internet (e.g. communication by e-mail) can have security gaps. A complete protetion of data against access by third parties is not possible.</h6>
                   <h5>Contact</h5>
                   <h6 class="email">info@happycook.com</h6>  
          
                <br>
                <br>
            <button type="button" class="goBack" data-bs-dismiss="modal" aria-label="Close">Go back</button>
                <br>
              </div>
            </div>
          </div>



        </div>

        <div class="col-lg-5 center col-sm-10">
          <p class="fs-1 index">HappyCook</p>

          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1"> <img src="images/lupa.png"></span>

            <form action="/recipes" method="GET" class="method">
              
              <div class="tag-container">
              <input type="text" value="" id="box" name="ingredients" class="form-control "
                placeholder="Enter ingredient" autofocus aria-label="Enter ingredient" aria-describedby="basic-addon1"/>   
              </div>
               

              <div class="difficulty">
                <h4>Difficulty</h4>
                <div class="difficultyButtons">
                 
                  <input type="radio" id="choice1" name="difficulty" value="easy">EASY

                  <input type="radio" id="choice2" name="difficulty" value="normal">NORMAL
                  
                  <input type="radio" id="choice3" name="difficulty" value="hard">HARD
                </div>             
              </div>
            </form>

            
          </div>

          <div class="difficultyBar">
            <button class="">easy</button>
            <button>medium</button>
            <button>hard</button>
          </div>

          <p class="fs-6 index ">Quick Search</p>


          <div class="container text-center my-3">
            
            <div class="row mx-auto my-auto justify-content-center">
                <div id="recipeCarousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <div class="col-md-3">
                                <div class="card">
                                    <div class="card-img">
                                        <img src="images/potato.png" class="img-fluid">
                                    </div>
                                    <!-- <div class="card-img-overlay">Slide 1</div> -->
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="col-md-3">
                                <div class="card">
                                    <div class="card-img">
                                        <img src="images/milk.png" class="img-fluid">
                                    </div>
                                    <!-- <div class="card-img-overlay">Slide 2</div> -->
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="col-md-3">
                                <div class="card">
                                    <div class="card-img">
                                        <img src="images/egg.png" class="img-fluid">
                                    </div>
                                    <!-- <div class="card-img-overlay">Slide 3</div> -->
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="col-md-3">
                                <div class="card">
                                    <div class="card-img">
                                        <img src="images/tomato.png" class="img-fluid">
                                    </div>
                                    <!-- <div class="card-img-overlay">Slide 4</div> -->
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="col-md-3">
                                <div class="card">
                                    <div class="card-img">
                                        <img src="images/chicken.png" class="img-fluid">
                                    </div>
                                    <!-- <div class="card-img-overlay">Slide 5</div> -->
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="col-md-3">
                                <div class="card">
                                    <div class="card-img">
                                        <img src="images/pepper.png" class="img-fluid">
                                    </div>
                                    <!-- <div class="card-img-overlay">Slide 6</div> -->
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                          <div class="col-md-3">
                              <div class="card">
                                  <div class="card-img">
                                      <img src="images/onion.png" class="img-fluid">
                                  </div>
                                  <!-- <div class="card-img-overlay">Slide 6</div> -->
                              </div>
                          </div>
                      </div>
                    </div>
                   
                    <a class="carousel-control-next bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="prev">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    </a>
                    <a class="carousel-control-prev bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="next">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  </a>
                </div>
            </div>
            
        </div>


          


          <!-- <div class="pick">
            <img src="images/potato.png" onclick="showme('potato')" alt="potato">
            <img src="images/milk.png" onclick="showme('milk')" alt="milk">
            <img src="images/chicken.png" onclick="showme('chicken')" alt="chicken">
            <img src="images/egg.png" onclick="showme('egg')" alt="egg">
            <img src="images/pepper.png" onclick="showme('pepper')" alt="pepper">
            <img src="images/onion.png" onclick="showme('onion')" alt="onion">

          </div> -->

        </div>

        <div class="col-lg-4 col-sm-1">
        </div>

      </div>
      
    </div>

    



  <footer class="footerIndex">

    <div class="container">
        <div class="row">
            <div class="col privacyIndex">
              <button  data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Privacy</button>

                <!-- Button trigger modal -->


            </div>
          <div class="col-8">
            
            
            <p class="footerCopyrightIndex">© Copyright 2022. All rights reserved</p>

          </div>
          <div class="col socialMediaIconsIndex">
           <img src="images/twitter.png">
           <img src="images/linkedin.png">
           <img src="images/be.png">
           <img src="images/whatsapp.png">
          </div>
        </div>
      </div>
         
      
  </footer>
</div>








<script src="./happyCook.js"></script>
</body>

</html>